body{

	background-color:#EEFFFF;

}

header{

	height:100px;
	text-align:center;
	font-size:20px;

}

.main{

	text-align:center;

}

.contents{

	height:400px;
	width:300px;
	color: black;
	background-color:#FFFF99;
	display:inline-block;
	border-radius:5px;
	margin: 0 auto;

}

.main-contents-signup{

	height:400px;
	width:300px;
	color: black;
	background-color:#FFFF99;
	display:inline-block;
	border-radius:5px;
	margin: 0 auto;
	padding-top:30px;
}


.contents-top{

	padding: 30px 0px;
	border-bottom:2px solid #CCFFFF;

}

.contetnts-bottom{

	padding:30px 0px;

}

p1{

	margin-right:85px;

}

p2{

	margin-right:45px;

}

footer{

	margin-top:20px;
	height:100px;

}